img{
    width: 300px;
}

.charName, .charHP{
    padding: 3%;
    text-align: center;
}

.charPanel{
    float:left;
    border: solid lime 2px;
    border-collapse: collapse;
    background-color: white;
}
.charPic{

    margin: 0 20px;
}

.gameTitle{
    text-align: center;
    color: white;
    font-size: 40pt;
    padding: 1% 0;
}

body{
    background-image: url(../images/back.jpg);
}
.text-box{
    color: white;
    font-size: 25pt;
    padding: 1%;
}
.charSelect::after,.enemySelect::after,.info::after {
    content: " ";
    display: block;
    clear: both;
  }
  .enemy{
      background-color: red;
  }
  .activeEnemy{
      background-color:black;
      color: white;
  }

  .hidden{
      display:none;
  }
  .right
  {
      float:right;
  }
  .left{
      float:left;
  }
  .battleInfo{
    float: left;
    position: relative;
    left: 15%;
    background-color: white;
    width: 30%;
    height: 75px;
    text-align: center;
  }
  .fight, .reset{
    padding: 2%;
    margin: 0 0 0 30%;
  }

  @media screen and (max-width:640px){
      img{
          width:150px;
      }
  }
